@media screen and (max-width: 950px){
    .navbar-menu, .contact-text{
        display: none;
    }
    .open-close-container{
        display: block;
    }
    .hide{
        display: none;
    }
    .popular-content{
        grid-template-columns: repeat(3, 160px);
    }
}



@media (max-width: 890px){
    .hero-content{
        flex-direction: column;
        gap: 5rem;
    }
    .hero-content-left, .hero-content-right{
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .hero-content-right{
        display: flex;
        flex-direction: column;
    }
    .hero-buttons{
        justify-content: center;
        gap: 20px;
    }
    .hero-card-container{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    .popular-content{
        grid-template-columns: repeat(2, 160px);
    }
    .testimonials{
        display: flex;
        flex-direction: column;
    }
    .tst-main{
        display: flex;
        justify-content: center;
    }

    .testimonial-blob{
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }
    .testimonials-image{
        position: relative;
        top: 2rem;
        height: 500px;
    }
    .testimonials-image, .testimonial-blob{
        width: 500px;
    }
    .testimonials-data-title, .testimonials-data-subtitle
    {
        text-align: center;
    }
    .testimonial-blob-image{
        gap: 2rem;
        justify-content: center;
    }
    .testimonial-bubble{
        right: 2.5rem;
        bottom: -1rem;
    }
    .services-container{
        flex-direction: column;
        gap: 4rem;
    }
    .services-grid{
        justify-content: center;
        /* border: 1px solid red; */
        display: grid;
    }
    .serve{
        text-align: center;
    }
    .ffff{
        text-align: center;
    }

    .ssss{
        display: flex;
        justify-content: center;
    }
    .footer-container{
        flex-direction: column;
        gap: 1.5rem;
    }
    .info-grid{
        grid-template-columns: repeat(2, max-content);
        row-gap: 1rem;
    }
    .last{
        justify-content: start;
    }

}

@media (max-width: 530px) {
    .hero-blob{
        left: 5%
    }
    
}

@media (max-width: 380px){
    .popular-content{
        grid-template-columns: repeat(1, 160px);
    }

    .hero-card-content{
        flex-direction: column;
        width: 100%;
    }
    .hero-card-blob{
        width: 100%;
    }
    .hero-card-container{
        width: 100% !important;
       
    }
}




